<div class="span2">
  <%= clinician_order.timerecorded %>
</div>

<div class="span2">
  <%= clinician_order.ordertype %>
</div>

<div class="span2">
  <%= clinician_order.cliniciansignature %>
</div>

<div class="span2">
  <%= clinician_order.status %>
</div>

<div class="span2">
  <%= clinician_order.timeprocessed %>
</div>