<%= form_for(@clinician_order) do |f| %>
  <% if @clinician_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clinician_order.errors.count, "error") %> prohibited this clinician_order from being saved:</h2>

      <ul>
      <% @clinician_order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :visit_id %><br />
    <%= f.number_field :visit_id %>
  </div>
  <div class="field">
    <%= f.label :ordertype %><br />
    <%= f.text_field :ordertype %>
  </div>
  <div class="field">
    <%= f.label :ordernote %><br />
    <%= f.text_field :ordernote %>
  </div>
  <div class="field">
    <%= f.label :timerecorded %><br />
    <%= f.datetime_select :timerecorded %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :timeprocessed %><br />
    <%= f.datetime_select :timeprocessed %>
  </div>
  <div class="field">
    <%= f.label :retainOnReset %><br />
    <%= f.number_field :retainOnReset %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
