<%= form_for(@clinician_order) do |f| %>
  <% if @clinician_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clinician_order.errors.count, "error") %> prohibited this clinician_order from being saved:</h2>

      <ul>
      <% @clinician_order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :visit_id %><br />
    <%= f.number_field :visit_id %>
  </div>
  <div class="field">
    <%= f.label :order_type %><br />
    <%= f.collection_select :order_type, OrderType.all, :description, :description%>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </div>
  <div class="field">
    <%= f.label :time_recorded %><br />
    <%= f.datetime_select :time_recorded %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :time_processed %><br />
    <%= f.datetime_select :time_processed %>
  </div>
  <div class="field">
    <%= f.label :retain_on_reset %><br />
    <%= f.number_field :retain_on_reset %>
  </div>
  <div class="field">
    <%= f.label :clincian_signature %><br />
    <%= f.text_field :clincian_signature %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
