<p id="notice"><%= notice %></p>

<p>
  <b>Visit:</b>
  <%= @clinician_order.visit_id %>
</p>

<p>
  <b>Ordertype:</b>
  <%= @clinician_order.order_type %>
</p>

<p>
  <b>Ordernote:</b>
  <%= @clinician_order.note %>
</p>

<p>
  <b>Timerecorded:</b>
  <%= @clinician_order.time_recorded %>
</p>

<p>
  <b>Status:</b>
  <%= @clinician_order.status %>
</p>

<p>
  <b>Timeprocessed:</b>
  <%= @clinician_order.time_processed %>
</p>



<%= link_to 'Edit', edit_clinician_order_path(@clinician_order) %> |
<%= link_to 'Back', clinician_orders_path %>
