<% content_for :title, "Listing of order types"%>
<h1>Listing of order types</h1>

<table>
  <tr>
    <th>Description</th>
     <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @order_types.each do |order_type| %>
  <tr>
    <td><%= order_type.description %></td>
    <td><%= order_type.category %></td>
    <td><%= link_to 'Show', order_type %></td>
    <td><%= link_to 'Edit', edit_order_type_path(order_type) %></td>
    <td><%= link_to 'Destroy', order_type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order type', new_order_type_path %>
