<%= form_for(@image_file) do |f| %>
  <% if @image_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image_file.errors.count, "error") %> prohibited this image_file from being saved:</h2>

      <ul>
      <% @image_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :content_type %><br />
    <%= f.text_field :content_type %>
  </div>
  <div class="field">
    <%= f.label :filename %><br />
    <%= f.text_field :filename %>
  </div>
  <div class="field">
    <%= f.label :binary_data %><br />
    <%= f.text_field :binary_data %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
