<%= form_for(@image_file) do |f| %>
  <% if @image_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image_file.errors.count, "error") %> prohibited this image file from being saved:</h2>

      <ul>
      <% @image_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="span12">
      <%= f.label :description %><br />
      <%= f.text_field :description %>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <%= f.label :image_file, "Image file" %><br />
      <%= f.file_field :image_file %> 
    <%if params.has_key?(:patient_id)%>
      <%= hidden_field_tag "patient_id", params[:patient_id] %>
    <%elsif params.has_key?(:intake_document_id)%>
      <%= hidden_field_tag "intake_document_id", params[:intake_document_id] %>
    <%elsif params.has_key?(:lab_and_diagnostic_report_id)%>
      <%= hidden_field_tag "lab_and_diagnostic_report_id", params[:lab_and_diagnostic_report_id] %>
    <%elsif params.has_key?(:site_configuration_id)%>
      <%= hidden_field_tag "site_configuration_id", params[:site_configuration_id] %>
    <%end%>
    </div>
  </div>
<p></p><p></p>  
  <div class="btn-group" >
    <%= f.submit "Upload File", class: "btn" %>

<% end %>
