<% content_for :title, "Listing of image files"%>

<h1>Listing of image files</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Content type</th>
    <th>Filename</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @image_files.each do |image_file| %>
  <tr>
    <td> <%= image_file.description %></td>
    <td> <%= image_file.content_type %></td>
    <td> <%= image_file.filename %></td>
    <td> <%= image_tag("/image/#{image_file.id}", :alt => "Image") %></td>
    <td> <%= link_to 'Show', image_file %></td>
    <td> <%= link_to 'Edit', edit_image_file_path(image_file) %></td>
    <td> <%= link_to 'Destroy', image_file, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Image file', new_image_file_path %>
