<%= form_for(@visit) do |f| %>
  <% if @visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visit.errors.count, "error") %> prohibited this visit from being saved:</h2>

      <ul>
      <% @visit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row_fluid">
    <% if @visit.patient_id.blank?%>

        <div class="span12">
          <%= f.label :patient_id %><br />
          <%= f.number_field :patient_id %>
        </div>

    <% else %>
        <div class="span12">
          <%= f.hidden_field :patient_id %>
        </div>

    <% end %>
  </div>
  <div class="row_fluid">
     <div class="span12">
      <%= f.label :visittime, "Date and time of visit" %><br />
      <%= f.datetime_select :visittime, :id => "datetimeselect"%>
    </div>
  </div>
  <div class="row_fluid">
    <div class="span4">
      <%= f.label :mrNumber, "Medical record number" %><br />
      <%= f.text_field :mrNumber %>
    </div>
    <div class="span4">
      <%= f.label :chiefComplaint, "Chief complaint" %><br />
      <%= f.text_field :chiefComplaint %>
    </div>
    <div class="span4">
      <%= f.label :dischargeDiagnosis, "Discharge diagnosis/subject of case"%><br />
      <%= f.text_field :dischargeDiagnosis %>
    </div>
  </div>
  <div class="row_fluid">
    <div class="span12">
      <%= f.label :isActiveSim, "Is this the simulation case?" %><br />
      <%= f.select(:isActiveSim, options_for_select([['no', 0], ['yes', 1]])) %>
    </div>
  </div>
  <div style="row_fluid">
    <div class="btn-group span12" >
      <%= f.submit 'Save visit', :class => "btn" %>
<% end %>
