<% if visit.id == @selectedVisit.id %>
<div class="row-fluid selected">
<%else%>
<div class="row-fluid">
<%end%>
  <div class="span4">
    <%= visit.visittime %>
  </div>
  <div class="span3">
    <strong><%= visit.chiefComplaint %></strong>
  </div>
  <div class="span2">
    <strong><%= visit.dischargeDiagnosis %></strong>
  </div>
  <div class="span3">
    <% if visit.id == @selectedVisit.id %>
    [Selected]
    <% else %>
  	<%= link_to 'select', patient_path(:selectedVisit => visit) %>
    <% end %>
    <% unless session[:simulation_mode] %>
      <%= link_to 'Edit', edit_visit_path(visit) %>
      <%= link_to 'Delete', visit, confirm: 'Are you sure?', method: :delete %>
    <% end %>
  </div>
</div>