<p id="notice"><%= notice %></p>

<p>
  <b>Patient:</b>
  <%= @visit.patient_id %>
</p>
<p>
  <b>Time of Visit:</b>
  <%= @visit.visit_time %>
</p>
<p>
  <b>Reset to this many hours ago:</b>
  <%= @visit.duration_til_now_hours %>
</p>

<p>
  <b>Mrnumber:</b>
  <%= @visit.mr_number %>
</p>

<p>
  <b>Chiefcomplaint:</b>
  <%= @visit.chief_complaint %>
</p>

<p>
  <b>Visitsubject:</b>
  <%= @visit.discharge_diagnosis %>
</p>


<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
