<%= form_for(@intake_document) do |f| %>
  <% if @intake_document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@intake_document.errors.count, "error") %> prohibited this intake_document from being saved:</h2>

      <ul>
      <% @intake_document.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%if @intake_document.visit_id.blank?%> 
    <div class="span12">
      <%= f.label :visit_id %><br />
      <%= f.number_field :visit_id %>
    </div>
   <% else %>
    <div class="span12">
      <%= f.hidden_field :visit_id %>
    </div>
  <% end %>
  
  <div class="span12">
    <%= f.label :timerecorded, "Document time stamp" %><br />
    <%= f.datetime_select :timerecorded %>
  </div>

  <div class="span12">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

  <% unless params[:action] == "new" %>
    
    
        <%= f.label :image_file_id %><br />
        <%= f.hidden_field :image_file_id %>
        <% if @intake_document.image_file_id.blank? %>
          <%= link_to "Add Image", new_image_file_path(:intake_document_id => @intake_document.id), :class => "btn" %>
        <% else %>
          <%= image_tag("/image/#{@intake_document.image_file_id}", :alt => "Image") %>
          <div class="btn-toolbar" style="position:relative;">
            <div class="btn-group" style="top:-9px;">
            <%= link_to "change image", edit_image_file_path(:id => @intake_document.image_file_id, :intake_document_id => @intake_document.id), :class => "btn"%> 
            <%= link_to 'Delete image', image_file_path(:id => @intake_document.image_file_id, :intake_document_id => @intake_document.id), confirm: 'Are you sure?', method: :delete, :class => "btn"%> 
            </div>
        <% end %>

    
  <% end %>

  <div class="btn-group" style="top:0px;">
    <%= f.submit "Save header", class: "btn" %>
  
<% end %>
