<p id="notice"><%= notice %></p>
<p>
  <b>Description:</b>
  <%= @intake_document.description %>
</p>

<p>
  <b>Time posted:</b>
  <%= @intake_document.time_recorded %>
</p>
      
      <% if @intake_document.image_file_id.blank? %> 
      <% unless session[:simulation_mode] %>
	      <div id="instruction">Step 2: Upload intake document image</div>
	       	<%= link_to "Add Image", new_image_file_path(:intake_document_id => @intake_document.id), :class => "btn" %>	
   	  <% end %>
      <%else%> 
      <div class="intake-doc-image">
        <%= image_tag("/image/#{@intake_document.image_file_id}", :alt => "Image") %> </div>
        <div class="btn-toolbar">
        <% unless session[:simulation_mode] %>
	        <div class="btn-group">
	        <%= link_to "Change Image", edit_image_file_path(:id => @intake_document.image_file_id, :intake_document_id => @intake_document.id), :class => "btn"%> 
	        <%= link_to 'Delete Image', image_file_path(:id => @intake_document.image_file_id, :intake_document_id => @intake_document.id), confirm: 'Are you sure?', method: :delete, :class => "btn"%> 
	        </div>
        <% end %>
      <% end %>



<% if !session[:simulation_mode] %>
	<div class="btn-group">
	<%= link_to 'Edit header', edit_intake_document_path(@intake_document), class: "btn" %>
	<%= link_to 'Cancel', :back, class: "btn" %>
	</div>
<% else %>
	<%= link_to 'Back', :back, class: "btn" %>
<% end %>
</div>
<p></p>