<h1>available location configurations</h1>

<div class="row-fluid">
    <div class="span3"><h3>Location name</h3></div>
    <div class="span3"><h3>Image file</h3></div>
    <div class="span3"><h3>Header logo text</h3></div>
</div>

<% @site_configurations.each do |site_configuration| %>
 <% if @site_configuration.image_file_id == site_configuration.image_file_id %> 
  <div class="row-fluid selected">
 <% else %>
  <div class="row-fluid">
 <% end %>
    <div class="span3"><%= site_configuration.location_name %></div>
    <div class="span3">
      <% unless site_configuration.image_file_id.blank? %>
        <%= image_tag("/image/#{site_configuration.image_file_id}", :alt => "Logo Image", width: 200)%>
      <% else %>
        no image yet
      <% end %>
    </div>
    <div class="span3"><%= site_configuration.logo_text %></div>
    <div class="span3 btn-group">

      <%= link_to 'Select', config_path(site_configuration), class: "btn" %>
      <%= link_to 'Edit', edit_site_configuration_path(site_configuration), class: "btn"  %>
      <%= link_to 'Delete', site_configuration, confirm: 'Are you sure?', method: :delete, class: "btn"  %>
    </div>
  </div>
<% end %>

<br/>
<br/>

<div class="row-fluid">
  <div class="offset6 span6">
    <%= link_to 'New location', new_site_configuration_path, class: "btn" %>
  </div>
</div>