<p id="notice"><%= notice %></p>

<p>
  <b>Location name:</b>
  <%= @site_configuration.location_name %>
</p>

<% unless @site_configuration.image_file_id.blank? %> 
  <p>
    <b>Image file:</b><br/>
    <%= image_tag("/image/#{@site_configuration.image_file_id}", :alt => "Logo Image") %>
  </p>
<% end %>
<p>
  <b>Logo text:</b>
  <%= @site_configuration.logo_text %>
</p>

<p>
  <b>Logo text color:</b>
  <span style="background-color:#<%=@site_configuration.logo_text_color%>;">
    <%= @site_configuration.logo_text_color %>
  </span>
</p>

<p>
  <b>Top bar gradient start color:</b>
  <span style="background-color:#<%=@site_configuration.top_bar_gradient_start_color%>;">
    <%= @site_configuration.top_bar_gradient_start_color %>
  </span>
</p>

<p>
  <b>Top bar gradient end color:</b>
  <span style="background-color:#<%=@site_configuration.top_bar_gradient_end_color%>;">
    <%= @site_configuration.top_bar_gradient_end_color %>
  </span>
</p>

<p>
  <b>Secondary bar gradient start color:</b>
  <%= @site_configuration.secondary_bar_gradient_start_color %>
</p>

<p>
  <b>Secondary bar gradient end color:</b>
  <%= @site_configuration.secondary_bar_gradient_end_color %>
</p>

<p>
  <b>Page background color:</b>
  <%= @site_configuration.page_background_color %>
</p>

<p>
  <b>Secondary header text color:</b>
  <%= @site_configuration.secondary_header_text_color %>
</p>

<p>
  <b>Page background color:</b>
  <%= @site_configuration.page_background_color %>
</p>

<p>
  <b>Patient info box background color:</b>
  <%= @site_configuration.patient_info_box_background_color %>
</p>


<%= link_to 'Edit', edit_site_configuration_path(@site_configuration) %> |
<%= link_to 'Back', site_configurations_path %>
