<%= form_for(@lab_and_diagnostic_report) do |f| %>
  <% if @lab_and_diagnostic_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lab_and_diagnostic_report.errors.count, "error") %> prohibited this lab_and_diagnostic_report from being saved:</h2>

      <ul>
      <% @lab_and_diagnostic_report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :visit_id %><br />
    <%= f.number_field :visit_id %>
  </div>
  <div class="field">
    <%= f.label :clinician_order_id %><br />
    <%= f.number_field :clinician_order_id %>
  </div>
  <div class="field">
    <%= f.label :image_file_id %><br />
    <%= f.number_field :image_file_id %>
  </div>
  <div class="field">
    <%= f.label :release_delay %><br />
    <%= f.number_field :release_delay %>
  </div>
  <div class="field">
    <%= f.label :visible %><br />
    <%= f.number_field :visible %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :time_released %><br />
    <%= f.datetime_select :time_released %>
  </div> 
  <div class="field">
    <%= f.label :result_text %><br />
    <%= f.text_area :result_text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
