<div class="icon">
  <%= link_to image_tag("Document.png", :border=>0), lab_and_diagnostic_report %><br />
  <%= lab_and_diagnostic_report.order_type %> <br />
  <%= lab_and_diagnostic_report.time_released %>
  <% unless session[:simulation_mode] %>
	  <div class="btn-group">
	  	<%= link_to 'Edit', edit_lab_and_diagnostic_report_path(lab_and_diagnostic_report), class: "btn" %> 
	  	<%= link_to 'Delete', lab_and_diagnostic_report, confirm: 'Are you sure?', method: :delete, class: "btn" %>
	  </div>
  <% end %>
</div>