<% content_for :title, "Listing lab and diagnostic reports"%>
<h1>Listing lab and diagnostic reports</h1>

<table>
  <tr>
    <th>Visit</th>
    <th>Clinician order</th>
    <th>Image file</th>
    <th>Release delay</th>
    <th>Visible</th>
    <th>Result text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lab_and_diagnostic_reports.each do |lab_and_diagnostic_report| %>
  <tr>
    <td><%= lab_and_diagnostic_report.visit_id %></td>
    <td><%= lab_and_diagnostic_report.clinician_order_id %></td>
    <td><%= lab_and_diagnostic_report.image_file_id %></td>
    <td><%= lab_and_diagnostic_report.release_delay %></td>
    <td><%= lab_and_diagnostic_report.visible %></td>
    <td><%= lab_and_diagnostic_report.result_text %></td>
    <td><%= link_to 'Show', lab_and_diagnostic_report %></td>
    <td><%= link_to 'Edit', edit_lab_and_diagnostic_report_path(lab_and_diagnostic_report) %></td>
    <td><%= link_to 'Destroy', lab_and_diagnostic_report, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lab and diagnostic report', new_lab_and_diagnostic_report_path %>
