<% content_for :title, "Editing lab report template"%>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @lab_report_template.name %>
</p>
<ul>
<% @lab_report_template.lab_report_fields.each do |field| %>
	<li><%= field.name %></li>
<% end %>
</ul>


<%= link_to 'Edit', edit_lab_report_template_path(@lab_report_template) %> 
<%= link_to 'Back', lab_report_templates_path %>
