<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div style="float:left;margin-right:10px;">
  <% unless params[:action] == "new" %>
    <div class="field">
      <%= f.label :image_file_id %><br />
      <%= f.hidden_field :image_file_id %>
      <% if @patient.image_file_id.blank? %>
        <%= link_to "Add Image", new_image_file_path(:patient_id => @patient.id), :class => "btn" %>
      <% else %>
        <%= image_tag("/image/#{@patient.image_file_id}", :alt => "Image") %></br>
        <span class="btn-group">
        <%= link_to "Edit", edit_image_file_path(:id => @patient.image_file_id, :patient_id => @patient.id), :class => "btn"%> 
        <%= link_to 'Delete', image_file_path(:id => @patient.image_file_id, :patient_id => @patient.id), confirm: 'Are you sure?', method: :delete, :class => "btn"%> 
        </span>
      <% end %>
    </div>
  <% end %>
    <div class="field">
      <%= f.label :firstName %><br />
      <%= f.text_field :firstName %>
    </div>
    <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name %>
    </div>
      <div class="field">
      <%= f.label :middleInitial %><br />
      <%= f.text_field :middleInitial %>
    </div>
    <div class="field">
      <%= f.label :dateOfBirth %><br />
      <%= f.text_field :dateOfBirth %>
    </div>
    <div class="field">
      <%= f.label :patientNumber %><br />
      <%= f.text_field :patientNumber %>
    </div>
    <div class="field">
      <%= f.label :address %><br />
      <%= f.text_field :address %>
    </div>
  </div>  
  <div style="float:left;">
  <div class="field">
    <%= f.label :telephone1 %><br />
    <%= f.text_field :telephone1 %>
  </div>
  <div class="field">
    <%= f.label :telephone1type %><br />
    <%= f.text_field :telephone1type %>
  </div>
  <div class="field">
    <%= f.label :telephone2 %><br />
    <%= f.text_field :telephone2 %>
  </div>
  <div class="field">
    <%= f.label :telephone2type %><br />
    <%= f.text_field :telephone2type %>
  </div>
  <div class="field">
    <%= f.label :insuranceCarrier %><br />
    <%= f.text_field :insuranceCarrier %>
  </div>
  <div class="field">
    <%= f.label :primaryCarePhysician %><br />
    <%= f.text_field :primaryCarePhysician %>
  </div>
  <div class="field">
    <%= f.label :drugAllergies %><br />
    <%= f.text_field :drugAllergies %>
  </div>

  </div>

  <div class="actions" style="clear:both">
    <%= f.submit %>
  </div>
<% end %>
