<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div style="float:left;margin-right:10px;">
  <% unless params[:action] == "new" %>
    <div class="field">
      <%= f.label :image_file_id %><br />
      <%= f.hidden_field :image_file_id %>
      <% if @patient.image_file_id.blank? %>
        <%= link_to "Add Image", new_image_file_path(:patient_id => @patient.id), :class => "btn" %>
      <% else %>
        <%= image_tag("/image/#{@patient.image_file_id}", :alt => "Image") %></br>
        <span class="btn-group">
        <%= link_to "Edit", edit_image_file_path(:id => @patient.image_file_id, :patient_id => @patient.id), :class => "btn"%> 
        <%= link_to 'Delete', image_file_path(:id => @patient.image_file_id, :patient_id => @patient.id), confirm: 'Are you sure?', method: :delete, :class => "btn"%> 
        </span>
      <% end %>
    </div>
  <% end %>
    <div class="field">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name %>
    </div>
      <div class="field">
      <%= f.label :middle_initial %><br />
      <%= f.text_field :middle_initial %>
    </div>
    <div class="field">
      <%= f.label :date_of_birth %><br />
      <%= f.text_field :date_of_birth %>
    </div>
    <div class="field">
      <%= f.label :patient_number %><br />
      <%= f.text_field :patient_number %>
    </div>
    <div class="field">
      <%= f.label :address %><br />
      <%= f.text_field :address %>
    </div>
  </div>  
  <div style="float:left;">
  <div class="field">
    <%= f.label :telephone_1 %><br />
    <%= f.text_field :telephone_1 %>
  </div>
  <div class="field">
    <%= f.label :telephone_1_type %><br />
    <%= f.text_field :telephone_1_type %>
  </div>
  <div class="field">
    <%= f.label :telephone_2 %><br />
    <%= f.text_field :telephone_2 %>
  </div>
  <div class="field">
    <%= f.label :telephone_2_type %><br />
    <%= f.text_field :telephone_2_type %>
  </div>
  <div class="field">
    <%= f.label :insurance_carrier %><br />
    <%= f.text_field :insurance_carrier %>
  </div>
  <div class="field">
    <%= f.label :primary_care_physician %><br />
    <%= f.text_field :primary_care_physician %>
  </div>
  <div class="field">
    <%= f.label :drug_allergies %><br />
    <%= f.text_field :drug_allergies %>
  </div>

  </div>

  <div class="actions" style="clear:both">
    <%= f.submit %>
  </div>
<% end %>
