
<div class="row-fluid">

  <div class="span12 ">
      <div class="patientImage">
      <% if @patient.image_file_id.blank? %> 
        No image supplied
      <%else%> 
        <%= image_tag("/image/#{@patient.image_file_id}", :alt => "Image") %>
      <% end %>
    </div>
    <strong><%= @patient.firstName %>  <%= @patient.middleInitial %> <%= @patient.last_name %></strong>

    <p>Patient Number: <strong><%= @patient.patientNumber %></strong> Date of Birth: <strong><%= @patient.dateOfBirth %></strong><br />
   Allergies: <strong><%= @patient.drugAllergies %></strong> PCP: <strong><%= @patient.primaryCarePhysician %></strong> <br /> Insurance: <strong><%= @patient.insuranceCarrier %></strong></p>
  </div>
</div>
<div class="row-fluid">
  <div class="span5">
    Address:<br />
    <strong><%= @patient.address %></strong>
  </div>
  <div class="span5">
    <p>Phone Number<br />
     <%= @patient.telephone1type %><strong><%= @patient.telephone1 %> </strong><br />
      <%= @patient.telephone2type %> <strong><%= @patient.telephone2 %></strong></p>
  </div>
</div>
          