<h1>Patient Census</h1>

<table>
  <tr>
    
    <th style="width:125px;text-align:left;">Last Name</th>
    <th style="width:125px;text-align:left;">First Name</th>
    <th style="width:125px;text-align:left;">Middle Initial </th>
    <th style="width:125px;text-align:left;">DOB</th>
    <th style="width:125px;text-align:left;">Patient Number</th>
    <th></th>
    <th></th>
    <!--<th></th>-->
  </tr>

<% @patients.each do |patient| %>
  <tr>
    
    <td><%= patient.lastName %></td>
    <td><%= patient.firstName %></td>
    <td><%= patient.middleInitial %></td>
    <td><%= patient.dateOfBirth %></td>
    <td><%= patient.patientNumber %></td>
    <td><%= link_to 'Show', patient %></td>
    <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
   <!-- <td><%= link_to 'Destroy', patient, :confirm => 'Are you sure?', :method => :delete %></td>-->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Patient', new_patient_path %>
