<p id="notice"><%= notice %></p>
        
        <div class="patientInfo" id="PtDemographics">

          <table width="425">
            <tr>
              <td  colspan="2"><p>Patient Number: <strong><%= @patient.patientNumber %></strong> Date of Birth: <strong><%= @patient.dateOfBirth %></strong><br />
                <strong><%= @patient.firstName %>  <%= @patient.middleInitial %> <%= @patient.lastName %></strong></p>
                <p>Allergies: <strong><%= @patient.drugAllergies %></strong> PCP: <strong><%= @patient.primaryCarePhysician %></strong> <br /> Insurance: <strong><%= @patient.insuranceCarrier %></strong></p></td>
            </tr>
            <tr>
              <td width="216">Address:<br />
                <strong><%= @patient.address %></strong></td>
              <td width="224"><p>Phone Number<br />
                 <%= @patient.telephone1type %><strong><%= @patient.telephone1 %> </strong><br />
                  <%= @patient.telephone2type %> <strong><%= @patient.telephone2 %></strong></p></td>
            </tr>
          </table>
    <div class="btn bottomButton"><%= link_to 'Edit', edit_patient_path(@patient) %>  </div>
        </div>

        <div id="visits" class="patientInfo"> <h3>Visits</h3>
          <% if @patient.visits.any? %>
          <div class="row-fluid">
            <%= render @visits %>
          </div>
          <div class="btn bottomButton"><%= link_to 'New Visit', new_visit_path %> </div>
          <% end %>
        </div>
        <div id="vitals" class="patientInfo"> Vitals and Ins/Outs </div>
        <div id="notes" class="patientInfo"> Notes 
         <%if @clinician_notes.any? %>
            <table class="patientInfoGrid" style="width:100%;border-top:solid;border-width:thin;text-align:left;" border="0">
              <%= render @clinician_notes %>
            </table>
          <%end%>
          <div class="btn bottomButton"><%= link_to 'New Note', new_clinician_note_path(:visit_id => @selectedVisit.id) %></div>
          </div>
        <div id="intakeDocs" class="patientInfo" > Intake Documentation </div>
        <div id="orders" class="patientInfo"> Pending Orders </div>
        <div id="reports" class="patientInfo"> Lab and diagnostic study reports </div>
        <div id="mar" class="patientInfo"> Procedure and Medical Administration Log </div>

<!--<%= link_to 'Back', patients_path %>-->
