<p id="notice"><%= notice %></p>

<!--begin row 1-->
<div class="row-fluid">
  <%= render "demographics" %>
  <%= render "visits"%>
</div> 
<% unless @selectedVisit.nil?%>
  <!--end row 1-->
  <!--begin row 2-->
  <div class="row-fluid elementLayoutMargin">
    <%= render "flow_sheet_records" %>
  </div> 
  <!--end row 2-->
  <!--begin row 3-->
  <div class="row-fluid elementLayoutMargin" >
    <%= render "clinician_notes" %>
    <%= render "intake_documents" %>
  </div> 
  <!--end row 3-->
  <!--begin row 4-->
  <div class="row-fluid elementLayoutMargin">
    <%= render "clinician_orders" %>
    <%= javascript_tag "$(document).ready( function(){setInterval(function(){ $('#reports').load('lab_reports/#{@selectedVisit.id}'); }, 9000);})" %>
    <div id="reports">
      <%=render "lab_and_diagnostic_reports"%>
    </div>
  </div> 
  <!--end row 3-->
  <!--begin row 5-->
  <div class="row-fluid elementLayoutMargin">
    <%= render "medical_administration_record" %>
  </div> 
  <!--end row 5-->
<%end%>


  <!--<%= link_to 'Back', patients_path %>-->
