<p id="notice"><%= notice %></p>
        
        <div class="patientInfo" id="PtDemographics">

          <table width="425">
            <tr>
              <td  colspan="2"><p>Patient Number: <strong><%= @patient.patientNumber %></strong> Date of Birth: <strong><%= @patient.dateOfBirth %></strong><br />
                <strong><%= @patient.firstName %>  <%= @patient.middleInitial %> <%= @patient.lastName %></strong></p>
                <p>Allergies: <strong><%= @patient.drugAllergies %></strong> PCP: <strong><%= @patient.primaryCarePhysician %></strong> <br /> Insurance: <strong><%= @patient.insuranceCarrier %></strong></p></td>
            </tr>
            <tr>
              <td width="216">Address:<br />
                <strong><%= @patient.address %></strong></td>
              <td width="224"><p>Phone Number<br />
                 <%= @patient.telephone1type %><strong><%= @patient.telephone1 %> </strong><br />
                  <%= @patient.telephone2type %> <strong><%= @patient.telephone2 %></strong></p></td>
            </tr>
          </table>
<div class="nav pull-right" style="margin-right:10px;"><%= link_to 'Edit', edit_patient_path(@patient) %>  </div>
        </div>

        <div id="visits" class="patientInfo"> <h3>Visits</h3>
          <% if @patient.visits.any? %>
          <table style="width:100%;border-top:solid;border-width:thin;text-align:left;" border="0">
            <%= render @visits %>
          </table>
          <div class="nav pull-right" style="margin-right:10px;"><%= link_to 'New Visit', new_visit_path %> </div>
          <% end %>
        </div>
        <div id="vitals" class="patientInfo"> Vitals and Ins/Outs </div
        ><div id="notes" class="patientInfo"> Notes </div>
        <div id="intakeDocs" class="patientInfo" >
          <table width="425" cellpadding="4" cellspacing="0" class="ptDetailGrid">
            <tbody>
              <tr>
                <th width="175" align="left" scope="col"><div align="center">Time Scanned</div></th>
                <th width="250" align="left" scope="col"><div align="center">Description </div>
              </tr>
              <tr>
                <td>11/23/2011 11:35:00 AM</td>
                <td>Triage Record For Cole, Nicolas</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="orders" class="patientInfo"> Pending Orders </div>
        <div id="reports" class="patientInfo"> Lab and diagnostic study reports </div>
        <div id="mar" class="patientInfo"> Procedure and Medical Administration Log </div>

<!--<%= link_to 'Back', patients_path %>-->
