<div class="row-fluid dataRow">
	<div class="span5">
		Temp <span class="label label-info"><%= flow_sheet_record.temp%></span>
		BP <span class="label label-info"><%=flow_sheet_record.bloodPressure %></span>
		HR <span class="label label-info"><%=flow_sheet_record.heartrate %></span>
		RR <span class="label label-info"><%=flow_sheet_record.respiratoryRate %></span>
		O2Sat <span class="label label-info"><%=flow_sheet_record.oxygenSaturation %></span>
	</div>
	<div class="span3">
		PO <span class="label label-info"><%= flow_sheet_record.intakePO %></span>
		IV <span class="label label-info"><%=flow_sheet_record.intakeIV %></span>
		Other <span class="label label-info"><%=flow_sheet_record.intakeOtherDescription %>
		<%=flow_sheet_record.intakeOther %></span>
	</div>
	<div class="span4">
		Urine <span class="label label-info"><%=flow_sheet_record.outputUrine %></span>
		Feces <span class="label label-info"><%=flow_sheet_record.outputFeces %></span>
		Blood <span class="label label-info"><%=flow_sheet_record.outputBlood %></span>
		Other <span class="label label-info"><%=flow_sheet_record.outputOtherDescription %>
		<%=flow_sheet_record.outputOther %></span>
	</div>
</div>
