<h1>Flow Sheet Records</h1>

<table>
  <tr>
    <th>Visit</th>
    <th>Time Recorded</th>
    <th>Temp</th>
    <th>Bloodpressure</th>
    <th>Respiratoryrate</th>
    <th>Oxygensaturation</th>
    <th>Intakepo</th>
    <th>Intakeiv</th>
    <th>Intakeother</th>
    <th>Intakeotherdescription</th>
    <th>Outputurine</th>
    <th>Outputfeces</th>
    <th>Outputblood</th>
    <th>Outputother</th>
    <th>Outputotherdescription</th>
    <th>Retainonreset</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @flow_sheet_records.each do |flow_sheet_record| %>
  <tr>
    <td><%= flow_sheet_record.visit_id %></td>
    <td><%= flow_sheet_record.time_recorded %></td>
    <td><%= flow_sheet_record.temp %></td>
    <td><%= flow_sheet_record.blood_pressure %></td>
    <td><%= flow_sheet_record.respiratory_rate %></td>
    <td><%= flow_sheet_record.oxygen_saturation %></td>
    <td><%= flow_sheet_record.intake_po %></td>
    <td><%= flow_sheet_record.intake_iv %></td>
    <td><%= flow_sheet_record.intake_other %></td>
    <td><%= flow_sheet_record.intake_other_description %></td>
    <td><%= flow_sheet_record.output_urine %></td>
    <td><%= flow_sheet_record.output_feces %></td>
    <td><%= flow_sheet_record.output_blood %></td>
    <td><%= flow_sheet_record.output_other %></td>
    <td><%= flow_sheet_record.output_other_description %></td>
    <td><%= flow_sheet_record.retain_on_reset %></td>
    <td><%= link_to 'Show', flow_sheet_record %></td>
    <td><%= link_to 'Edit', edit_flow_sheet_record_path(flow_sheet_record) %></td>
    <td><%= link_to 'Destroy', flow_sheet_record, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Flow sheet record', new_flow_sheet_record_path %>
