<p id="notice"><%= notice %></p>

<p>
  <b>Visit:</b>
  <%= @flow_sheet_record.visit_id %>
</p>

<p>
  <b>Recordingtime:</b>
  <%= @flow_sheet_record.time_recorded %>
</p>

<p>
  <b>Temp:</b>
  <%= @flow_sheet_record.temp %>
</p>

<p>
  <b>Bloodpressure:</b>
  <%= @flow_sheet_record.blood_pressure %>
</p>

<p>
  <b>Respiratoryrate:</b>
  <%= @flow_sheet_record.respiratory_rate %>
</p>

<p>
  <b>Oxygensaturation:</b>
  <%= @flow_sheet_record.oxygen_saturation %>
</p>

<p>
  <b>Intakepo:</b>
  <%= @flow_sheet_record.intake_po %>
</p>

<p>
  <b>Intakeiv:</b>
  <%= @flow_sheet_record.intake_iv %>
</p>

<p>
  <b>Intakeother:</b>
  <%= @flow_sheet_record.intake_other %>
</p>

<p>
  <b>Intakeotherdescription:</b>
  <%= @flow_sheet_record.intake_other_description %>
</p>

<p>
  <b>Outputurine:</b>
  <%= @flow_sheet_record.output_urine %>
</p>

<p>
  <b>Outputfeces:</b>
  <%= @flow_sheet_record.output_feces %>
</p>

<p>
  <b>Outputblood:</b>
  <%= @flow_sheet_record.output_blood %>
</p>

<p>
  <b>Outputother:</b>
  <%= @flow_sheet_record.output_other %>
</p>

<p>
  <b>Outputotherdescription:</b>
  <%= @flow_sheet_record.output_other_description %>
</p>

<p>
  <b>Retainonreset:</b>
  <%= @flow_sheet_record.retain_on_reset %>
</p>


<%= link_to 'Edit', edit_flow_sheet_record_path(@flow_sheet_record) %> |
<%= link_to 'Back', flow_sheet_records_path %>
