<div class="row-fluid dataRow">
	<div class="span2">
	  <%= medical_administration_record.time_recorded %>
	</div>

	<div class="span3">
	  <%=raw medical_administration_record.description %>
	</div>

	<div class="span3">
	  <%=raw medical_administration_record.note %>
	</div>

	<div class="span2">
	  <%= medical_administration_record.clinician_signature %>
	</div>
	<div class="span2">
		<%= link_to 'Show', medical_administration_record %>
		<% unless session[:simulation_mode] %>
			<%= link_to 'Edit', edit_medical_administration_record_path(medical_administration_record) %>
			<%= link_to 'Delete', medical_administration_record, confirm: 'Are you sure?', method: :delete %>
		<% end %>
	</div>
</div>