<p id="notice"><%= notice %></p>

<p>
  <b>Visit:</b>
  <%= @medical_administration_record.visit_id %>
</p>

<p>
  <b>Timerecorded:</b>
  <%= @medical_administration_record.time_recorded %>
</p>

<p>
  <b>Actiondescription:</b>
  <%= @medical_administration_record.description %>
</p>

<p>
  <b>Actiondetails:</b>
  <%= @medical_administration_record.note %>
</p>

<p>
  <b>Cliniciansignature:</b>
  <%= @medical_administration_record.clinician_signature %>
</p>


<%= link_to 'Edit', edit_medical_administration_record_path(@medical_administration_record) %> |
<%= link_to 'Back', medical_administration_records_path %>
