<% content_for :title, "Medical administration record"%>
<p id="notice"><%= notice %></p>

<p>
  <b>Time recorded:</b><br />
  <%= @medical_administration_record.time_recorded %>
</p>

<p>
  <b>Description:</b><br />
  <%=raw @medical_administration_record.description %>
</p>

<p>
  <b>Details:</b><br />
  <%=raw @medical_administration_record.note %>
</p>

<p>
  <b>Clinician signature:</b><br />
  <%= @medical_administration_record.clinician_signature %>
</p>

<% unless session[:simulation_mode] %>
  <%= link_to 'Edit', edit_medical_administration_record_path(@medical_administration_record), class: "btn" %> 
<% end %>
<%= link_to 'Back', :back, class: "btn" %>
