        <% if @patient %>
          <div id="patient-info">
            Patient ID: 
            <strong><%= @patient.patient_number %></strong> 
            Name: 
            <strong><%= @patient.first_name %> 
            <%= @patient.middle_initial %> 
            <%= @patient.last_name %></strong>
            DOB: 
            <strong><%= @patient.date_of_birth %></strong>
            <%= link_to 'display', @patient %>
          </div>
        <% end %>
        <% if !session[:simulation_mode] %>
          <div id="mode_status">
            <span class="label label-warning">Attention:</span> Editing mode active. 
            Changes will be reflected in simulation view
            and retained when the case is reset.
            <%= link_to "switch to sim mode", "/simulation" %>
          </div>
        <% end %>