<!DOCTYPE html>
<html lang="en">
<head>
  <title>DeVryEHR *Simulated EHR* No live patient data | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<style>
<%  
  logo_text_color = @site_configuration.logo_text_color
  top_bar_gradient_start_color = @site_configuration.top_bar_gradient_start_color
  top_bar_gradient_end_color = @site_configuration.top_bar_gradient_end_color
  secondary_bar_gradient_start_color = @site_configuration.secondary_bar_gradient_start_color 
  secondary_bar_gradient_end_color = @site_configuration.secondary_bar_gradient_end_color
  secondary_header_text_color = @site_configuration.secondary_header_text_color 
  page_background_color = @site_configuration.page_background_color
  patient_info_box_background_color = 'FFFFFF'
%>
.main {
  background-color:#<%= page_background_color %>;
}

  h1, h2, h3, h4, h5, h6 {
    color:#<%= secondary_header_text_color %>
  }

.navbar-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#<%= top_bar_gradient_start_color %>), to(#<%= top_bar_gradient_end_color %>));
}

.patient-info-header {
  background: -webkit-gradient(linear, left top, left bottom, from(#<%= secondary_bar_gradient_start_color %>), to(#<%= secondary_bar_gradient_end_color %>));
}

.patientInfo {
  background-color:#<%= patient_info_box_background_color %>;
}

#logo {
  Color:#<%= logo_text_color %>;
}

</style>

</head>
<body>
  <header class="navbar navbar-fixed-top" >
    <div class=" navbar-gradient navbar-inner"  > 
      <div class="container" >

        <br/>
        <div id="logo">
          <% unless @site_configuration.logo_text %>
            Simulated EHR
          <% else %>
            <%= @site_configuration.logo_text %>
          <% end %>
        </div>

        <div class="nav-collapse">
          <ul class="nav pull-right">
            <li><%= link_to "home", home_path %></li>
            <li><%= link_to "patient census", patients_path %></li>
            <li><%= link_to "patient search", search_path %>
          </ul>
        </div>
        <%= render "header_controls" %>
      </div>
    </div>
 </header>
 <div class="main">
 <div class="container ">
  <%= yield %>

</div>
  <%= debug(params) if Rails.env.development? %>
  <%= debug(cookies) if Rails.env.development? %>
  <%= debug(session) if Rails.env.development? %>
  <%= debug @site_configuration if Rails.env.development? %>
</div>
<div id="pop" class="popover" align="center"><a href="javascript:closePopOver('pop');">CLOSE ME</a>
</div></a>
</div>

</body>
</html>
