<!DOCTYPE html>
<html lang="en">
<head>
  <title>DeVryEHR *Simulated EHR* No live patient data | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body<%= " onload='#{@onload}'"%>>
  <header class="navbar navbar-fixed-top">
    <div class="navbar-inner"> 
      <div class="container">
        <br/>
        <div id="logo">Simulated EHR</div>

        <div class="nav-collapse">
          <ul class="nav pull-right">
            <li><%= link_to "home", home_path %></li>
            <li><%= link_to "patient census", patients_path %></li>
            <li><%= link_to "patient search", search_path %>
          </ul>
        </div>
        <div id="mode_status">
          <% if session[:simulation_mode] %>
            Simulation mode active
          <% else %>
            Editing mode active (changes will be commited to database)
          <% end %>
        </div>
      </div>
    </div>
 </header>
 <div class="container">
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <%= yield %>
</div>
<div id="pop" class="popover" align="center"><a href="javascript:closePopOver('pop');">CLOSE ME</a>
</div></a>
</div>

</body>
</html>



<!-- -->