<%= form_for(@clinician_note) do |f| %>
  <% if @clinician_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clinician_note.errors.count, "error") %> prohibited this clinician_note from being saved:</h2>

      <ul>
      <% @clinician_note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row_fluid">
    <% if @clinician_note.visit_id.blank?%>

        <div class="span12">
          <%= f.label :visit_id %><br />
          <%= f.number_field :visit_id %>
        </div>

    <% else %>
        <div class="span12">
          <%= f.hidden_field :visit_id %>
        </div>

    <% end %>
  </div>
  <div class="row_fluid">
    <div class="span10">
      <%= f.label :timeRecorded, "Time of note entry" %><br />
      <%= f.datetime_select :timeRecorded %>
    </div>
  </div>
  <div class="row_fluid"> 
    <div class="span12">
      <%= f.label :noteType, "Type of note" %><br />
      <%= f.select(:noteType, options_for_select([['Progress'], ['H&P']])) %>
    </div>
  </div>
  <div class="row_fluid">
    <div class="span12">
      <%= f.label :noteText, "Note Text" %><br />
      <%= f.text_area :noteText, :class=>"textarea" %>
    </div>
    </div>
  <div class="row_fluid">
    <div class="span6">
      <%= f.label :clinicianSignature %><br />
      <%= f.text_field :clinicianSignature %>
    </div>
    <div class="span6">
      <%= f.label :retainOnReset, "Keep this note on patient case reset?" %><br />
      <%= f.select(:retainOnReset, options_for_select([['yes', 1], ['no', 0]])) %>
    </div>
  </div>
<div style="row_fluid">
<div class="btn-group span12" >
    <%= f.submit 'Save Note', :class => "btn" %>

<% end %>
