<%= form_for(@clinician_note) do |f| %>
  <% if @clinician_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clinician_note.errors.count, "error") %> prohibited this clinician_note from being saved:</h2>

      <ul>
      <% @clinician_note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row_fluid">
    <% if @clinician_note.visit_id.blank?%> 
      <div class="span12">
        <%= f.label :visit_id %><br />
        <%= f.number_field :visit_id %>
      </div>
     <% else %>
       <div class="span12">
        <%= f.hidden_field :visit_id %>
      </div>
    <% end %>
  </div>
<% if !session[:simulation_mode] %>
  <div class="row_fluid">
    <div class="span8">
      <%= f.label :time_recorded, "Time of note entry" %><br />
      <%= f.datetime_select :time_recorded %>
    </div>
    <div class="span4">
      <%= f.label :minutes_after_start_of_visit %><br />
      <%= f.text_field :minutes_after_start_of_visit %>
    </div>
  </div>
<% end %>
  <div class="row_fluid"> 
    <div class="span12">
      <%= f.label :note_type, "Type of note" %><br />
      <%= f.select(:note_type, options_for_select(
        [['Progress'], 
        ['SOAP']
        ['History and Physical examination'], 
        ['Consultation'], 
        ['Operative report'],
        ['Radiology report'],
        ['Pathology report'],
        ['Emergency report'],
        ['Therapy report'],
        ['Autopsy report'],
        ['Biopsy report'],
        ['Psychiatric observations'],
        ['Discharge summary']]))%>


    </div>
  </div>
  <div class="row_fluid">
    <div class="span12">
      <%= f.label :note, "Note Text" %><br />
      <%= f.text_area :note, :class => "tinymce", :rows => 15%>
      <%= tinymce %>
    </div>
    </div>
  <div class="row_fluid">
    <div class="span6">
      <%= f.label :clinician_signature %><br />
      <%= f.text_field :clinician_signature %>
    </div>
  </div>
<div style="row_fluid">
<div class="btn-group span12" >
    <%= f.submit 'Save Note', :class => "btn" %>

<% end %>
