<%= form_for(@clinician_note) do |f| %>
  <% if @clinician_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clinician_note.errors.count, "error") %> prohibited this clinician_note from being saved:</h2>

      <ul>
      <% @clinician_note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row_fluid">
    <% if @clinician_note.visit_id.blank?%> 
      <div class="span12">
        <%= f.label :visit_id %><br />
        <%= f.number_field :visit_id %>
      </div>
     <% else %>
       <div class="span12">
        <%= f.hidden_field :visit_id %>
      </div>
    <% end %>
  </div>
  <div class="row_fluid">
    <div class="span10">
      <%= f.label :time_recorded, "Time of note entry" %><br />
      <%= f.datetime_select :time_recorded %>
    </div>
  </div>
  <div class="row_fluid"> 
    <div class="span12">
      <%= f.label :note_type, "Type of note" %><br />
      <%= f.select(:note_type, options_for_select([['Progress'], ['H&P']])) %>
    </div>
  </div>
  <div class="row_fluid">
    <div class="span12">
      <%= f.label :note_text, "Note Text" %><br />
      <%= f.text_area :note_text, :class => "tinymce textarea"%>
      <%= tinymce %>
    </div>
    </div>
  <div class="row_fluid">
    <div class="span6">
      <%= f.label :clinician_signature %><br />
      <%= f.text_field :clinician_signature %>
    </div>
  </div>
<div style="row_fluid">
<div class="btn-group span12" >
    <%= f.submit 'Save Note', :class => "btn" %>

<% end %>
