<h1>Listing clinician_notes</h1>

<table>
  <tr>
    <th>Visit</th>
    <th>Time Recorded</th>
    <th>Note type</th>
    <th>Note text</th>
    <th>Clinician Signature</th>
    <th>Retain On Reset</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clinician_notes.each do |clinician_note| %>
  <tr>
    <td><%= clinician_note.visit_id %></td>
    <td><%= clinician_note.time_recorded %></td>
    <td><%= clinician_note.note_type %></td>
    <td><%= clinician_note.note_text %></td>
    <td><%= clinician_note.clinician_signature %></td>
    <td><%= clinician_note.retain_on_reset %></td>
    <td><%= link_to 'Show', clinician_note %></td>
    <td><%= link_to 'Edit', edit_clinician_note_path(clinician_note) %></td>
    <td><%= link_to 'Destroy', clinician_note, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Clinician note', new_clinician_note_path %>
