<p id="notice"><%= notice %></p>
<p>
  <h2>Time and Date:</h2>
  <%= @clinician_note.time_recorded %>
</p>
<p>
<h2><%= @clinician_note.note_type %> note</h2>
  <div class="note">
    <%=raw @clinician_note.note %>
  </div>
</p>

<p>
  <h2>Clinician signature:</h2>
  <%= @clinician_note.clinician_signature %>
</p>


<div class="btn-group">
<% unless session[:simulation_mode] %>
<%= link_to 'Edit', edit_clinician_note_path(@clinician_note), class: "btn"%>
<%end%>
<%= link_to 'Back', :back, class: "btn" %>

</div>