<p id="notice"><%= notice %></p>

<p>
  <b>Visit:</b>
  <%= @clinician_note.visit_id %>
</p>

<p>
  <b>Time Recorded:</b>
  <%= @clinician_note.time_recorded %>
</p>


<p>
  <b>Notetype:</b>
  <%= @clinician_note.note_type %>
</p>

<p>
  <b>Notetext:</b>
  <%= @clinician_note.note_text %>
</p>

<p>
  <b>Cliniciansignature:</b>
  <%= @clinician_note.clinician_signature %>
</p>

<p>
  <b>Retainonreset:</b>
  <%= @clinician_note.retain_on_reset %>
</p>


<%= link_to 'Edit', edit_clinician_note_path(@clinician_note) %> |
<%= link_to 'Back', clinician_notes_path %>
