<p id="notice"><%= notice %></p>

<p>
  <b>Visit:</b>
  <%= @clinician_note.visit_id %>
</p>

<p>
  <b>Timerecorded:</b>
  <%= @clinician_note.timeRecorded %>
</p>

<p>
  <b>Notetype:</b>
  <%= @clinician_note.noteType %>
</p>

<p>
  <b>Notetext:</b>
  <%= @clinician_note.noteText %>
</p>

<p>
  <b>Cliniciansignature:</b>
  <%= @clinician_note.clinicianSignature %>
</p>

<p>
  <b>Retainonreset:</b>
  <%= @clinician_note.retainOnReset %>
</p>


<%= link_to 'Edit', edit_clinician_note_path(@clinician_note) %> |
<%= link_to 'Back', clinician_notes_path %>
